body{
    font-family: 'Montserrat', sans-serif;
}
.navbar:hover{
    background-color: rgba(34, 34, 34, 1);
    transition: 0.5s;
}
.navbar-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    border-color: transparent;
    position: fixed;
}
a:hover{
    text-decoration: none;
}
.navbar-inverse{
    background-color: rgba(34, 34, 34, 0.3);
    border-color: transparent;
    color: white;    
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.dropdown-menu{
    background-color: #222;
}
.dropdown-menu>li>a {
    color: white;
}
#login{
    min-width: 250px;
    background-color: rgba(34, 34, 34, 0.9);
    padding: 14px 14px 0;
    overflow: hidden;
}
#login .social-buttons{
    margin: 12px 0;
    
}
.btn-fb{
    margin-right: 10px;
    color:#fff;
}
.btn-fb:hover{
    color:#fff;
    background-color: #3c5898;
}
.btn-tw{
    margin-right: 10px;
    color:#fff;
}
.btn-tw:hover{
    background-color: #55adee;
}
.greyText{
    color: #9d9d9d;
}

.carousel{
    height: 600px;  
    margin-bottom: 50px;
}
.carousel .item{
    height: 600px;
    background-color: #777;
}
.carousel-inner > .item > img{
    position: absolute;
    height: 600px;
    min-width: 100%;
    top: 0;
    left: 0;
}
.carousel-indicators {
    top: 550px;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    
}

.img-center{
    text-align: center;
    margin: 20px;
    
}
.team p{
    margin-left: 10px;
    margin-right: 10px;
}
.divider{
   margin: 40px ; 
}
.info{
    padding-right: 30px;
    padding-top: 50px;
    text-align: center;
}
.heading1{
    text-align: center;
    font-size: 4em;
}
.footer i{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 4em;
}
.parallax-aboutUs{
    position: relative;
    height: 700px;
    margin: 0;
    padding: 0;
}
.center-text-aboutUs{
    width: 100%;
    position: absolute;
    margin-top: 15%;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.parallax-home-1{
    position: relative;
    height: 1000px;
    margin: 0;
    padding: 0;
}
.parallax-home-2{
    position: relative;
    height: 1000px;
    margin: 0;
    padding: 0;
}
.center{
    text-align: center;
}

.col-md-8{
        margin-top: 100px;
}
.col-md-8  > h1{
    color: white;
    font-size: 4em;
}
.col-md-8 > p{
    color: white;
}
.col-md-8:hover{
    color: white;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.col-md-8 > p:hover{
    color: white;
    transition: 0.5s;

}
.col-md-8 > h1:hover{
    color: white;
    transition: 0.5s;
    font-size: 4em;
}

.home-img:hover{
    height: 201px;
    width: 201px;
    box-shadow: 8px 5px 5px grey;
    transition: 0.5s;
}
.aboutUs-img:hover{
    height: 141px;
    width: 141px;
    box-shadow: 8px 5px 5px grey;
    transition: 0.5s;
}
.contact > h1{
    text-align: center;
    font-size: 4em;
    margin-top: 300px;
}
.contact{
    text-align: center;
}
.location-div{
    margin-top: 200px;
}
.col-md-12 > a:hover{
    background-color: white;
    color: black;

}
.col-md-12 > a{
    background-color: rgba(34, 34, 34, 1);
    color: white;
}





